openapi: 3.0.3

info:
  title: API de Produtos
  version: 1.0.0
  description: Produtos à venda na empresa X
  termsOfService: http://swagger.io/terms
  contact:
    email: fatec@fatecfranca.edu.br
  license:
    name: Apache 2.0
    url: http://swagger.io/terms

servers:
  - url: http://sistema-compass-homolog.com.br
  - url: http://sistema-compass.com.br

paths:
  /products:
    post:
      summary: Cadastra novos produtos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                descricao:
                  type: string
                  description: Descrição do produto
                  example: Geladeira
                  maxLength: 100
                  minLength: 5
                preco:
                  type: object
                  properties:
                    custo:
                      type: number
                      format: decimal
                      example: 19.99
                      description: Preço de custo do produto
                    venda:
                      type: number
                      format: decimal
                      example: 25.87
                      description: Preço de venda do produto
                marca:
                  type: string
                  description: Marca do produto
                  example: Furfles
                modelo:
                  type: string
                  description: Modelo do produto
                  example: Xpto
                categorias:
                  type: array
                  example: ["A", "B"]
                  items:
                    type: string
                    description: Modelo do produto
              required:
                - descricao
                - categorias
                - preco
      responses:
        '201':
          description: Sucesso no cadastro
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 18499
                  descricao:
                    type: string
                    description: Descrição do produto
                    example: Geladeira
                    maxLength: 100
                    minLength: 5
                  preco:
                    type: object
                    properties:
                      custo:
                        type: number
                        format: decimal
                        example: 19.99
                        description: Preço de custo do produto
                      venda:
                        type: number
                        format: decimal
                        example: 25.87
                        description: Preço de venda do produto
                  marca:
                    type: string
                    description: Marca do produto
                    example: Furfles
                  modelo:
                    type: string
                    description: Modelo do produto
                    example: Xpto
                  categorias:
